<div class='landing-page-outer'>
    <div class='intro-text col-xs-12'>
      <h3 class='col-xs-12 col-sm-10 col-sm-offset-1'>Let's Team Up is a networking platform which allows members to create group projects with Let's Team Up Tools!</h3>
    </div>
    <div class='group-types-container col-xs-12'>
      <div class='group-types-inner col-xs-12 col-sm-10 col-sm-offset-1'>
        <div class='group-type'>
          <%= image_tag('e-commerce-group-red.png', class: 'group-type-image') %>
          <div class='start-button ecommerce'>Let's Start</div>
        </div>
        <div class='group-type'>
          <%= image_tag('blogging-group-yellow.png', class: 'group-type-image') %>
          <div class='start-button blogging'>Let's Start</div>
        </div>
        <div class='group-type'>
          <%= image_tag('mastermind-group-green.png', class: 'group-type-image') %>
          <div class='start-button mastermind'>Let's Start</div>
        </div>
      </div>
    </div>
</div>