<div class='nested-fields'>
  <%= f.input :title, input_html: {class: 'work-sample-title-input'} %>
  <%= f.input :sample_image, input_html: {class: 'work-sample-image-input'} %>
  <%= link_to_remove_association 'remove work sample', f %>
</div>