<div class='skill-experience-subsection'>
  <div class='col-sm-3'>
    <h4 class='profile-label-box'><%= type %></h4>
  </div>

  <div class='user-work-samples-images-section col-sm-9'>
    <div>
      <%f.each do |entry| %>
        <%= link_to('#', 'data-target' => "#workSampleModal", 'data-toggle' => "modal", 'class' => 'user-work-sample-image-link', 'data-worksamplemedurl' => entry.sample_image.medium) do %>
          <%= image_tag entry.sample_image.thumb, class: 'profile-work-images' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<br class='clear'/>

<%= render 'user_work_samples/user_work_sample_modal' %>