$form-color: #E6F0F1;
$grey: #E7E6E2;
$blue: #94B4BB;
$border-red: #BD5B73;
$dark-green : #206E80;
$green: #B6D7A8;
$yellow: #FCD04C;
$red: #E06665;
$pink: #D45D78;
$font: 'futura_oblique';
$light-blue: #86CCDD;
$orange: #FFCC56;
$link-colors: #83CCDE;
$update-button: #90C07B;

.edit-profile-form {
  margin-top: 100px;
}

.edit-profile-label-box {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: $red;
  color: $orange;
  text-align: center;
  font-size: 15px;
  padding-bottom: 9px;
  padding-top: 9px;
  width: 100%;
}

.edit-profile-input-wrapper a {
  background-color: $link-colors;
  color: $red;
  padding: 3px;
  margin-top: 5px;
  width: 140px;
  display: block;
}

.profile_description textarea.form-control.description-input {
    height: 150px;
}

.input.edit-profile-input-wrapper {
  margin: 0px;
  padding: 0px;
}

div.edit-profile-input-wrapper {
  margin: 0px;
  padding: 0px;
}

.edit-profile-form input.form-control, textarea.form-control {
  border: 1px solid $form-color;
  background-color: $form-color;
  border-radius: 0px; 
}

.edit-profile-group-interests-section .check_boxes {
  margin-top: 0px;
  padding: 15px;
  padding-bottom: 20px;
  background-color: $form-color;
}

.edit-profile-group-interests-section .checkbox input[type=checkbox] {
  display: none;
}

.edit-profile-group-interests-section .check_boxes .checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  font-size: 20px;
  color: $red;
}

.edit-profile-group-interests-section .checkbox label:before {
  content: "";
  display: inline-block;
 
  width: 16px;
  height: 16px;
 
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 5px;

  border: 1px solid $red;
}

.edit-profile-group-interests-section  .checkbox label.checked:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: $red;
  text-align: center;
  line-height: 15px;
}

a.add_fields {
  margin-top: -15px;
}

.edit-profile-update-button {
  background-color: $update-button;
  color: $red;
  border: none;
}