$font: 'futura_oblique';
$dark-green : #206E80;

nav.navbar.navbar-default {  
  font-family: $font;
  z-index: 999;
  background-color: $dark-green;
  color: white;
  border-radius: 0px;
  border: none;
  margin: 0px;
  height: 100px;
}

.navbar-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

nav.navbar.navbar-default a {
  color: white;
}

.navbar.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  color: white;
}

.navbar.navbar-default .navbar-nav > li > a:hover {
  color: grey;
}

nav.navbar.navbar-default .nav.navbar-nav > .active > a {
  background-color: blue;
  color: blue;
}

.navbar-collapse .nav.navbar-nav .dropdown.open .dropdown-toggle {
  background-color:#104954;
  color: white;
}

.dropdown .dropdown-menu {
  border: none;
  background-color:#104954;
}

.login-button {
  background-image: url('background-login.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
  color: black;
}

.signup-button {
  background-image: url('background-sign-up.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;  
  margin-right: 20px;
  color: black;
}

.navbar-collapse {
  background-color: $dark-green;
}

@media (min-width: 768px) {
    .navbar-nav{
      height: 100px;
      display:flex;
      align-items: flex-end;
    }
}

@media (max-width: 768px) {
    .signup-button {
      background-image: none;
    }
    .login-button {
      background-image: none;
    }
}