<footer class="footer">
  <div class="footer-container col-xs-12">
      <div class='site-credits footer-column'>
        <p>Site developed by Joshua Tan</p>
        <p>Site designed by Romain Rouiller</p>
      </div>

      <div class='footer-logo footer-column'>
        <h3>Let's Team Up &copy; 2016</h3>
      </div>

      <div class='contact-container footer-column'>
        <%= link_to 'Contact Us', '#' %>
      </div>
  </div>
</footer>